<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/stylesheets/ftp.css">
    <title>FTP</title>
</head>
<body>
    <header>
        <div class="logo">FTP</div>
        <div class="navbar">
    
            <div class="hamburger" id="hamburger">
    
                <div class="hamburger-bg"></div>
                <!--- .hamburger-bg --->
    
                <!---/ Open Menu /--->
    
                <div class="header__hamburger">
                    <span class="hamburger_bar-body">
                        <span class="hamburger_bar hamburger_bar--1"></span>
                        <!--- .hamburger_bar --->
                    </span>
                    <!--- .hamburger_bar-body --->
                    <span class="hamburger_bar-body">
                        <span class="hamburger_bar hamburger_bar--2"></span>
                        <!--- .hamburger_bar --->
                    </span>
                    <!--- .hamburger_bar-body --->
                    <span class="hamburger_bar-body">
                        <span class="hamburger_bar hamburger_bar--3"></span>
                        <!--- .hamburger_bar --->
                    </span>
                    <!--- .hamburger_bar-body --->
                </div>
                <!--- .header__hamburger --->
    
                <!---/ Close Menu /---->
                <div class="header__close-circles">
                    <span class="close-circle"></span>
                    <!--- .close-cirle --->
                    <span class="close-circle"></span>
                    <!--- .close-cirle --->
                </div>
                <!--- .header__close-circles --->
    
            </div>
            <nav>
                <ul>
                    <li>Logout</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="directory">{directory}</div>
    <div class="content">{files}</div>

    <footer>
        <p class="year">&copy;2021</p>
        <p class="credits">By Neon</p>
    </footer>
</body>
</html>